/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap'); */

body {
    font-family:'Roboto Condensed', 'Arial Narrow', sans-serif;
    -webkit-hyphens:auto;
       -moz-hyphens:auto;
            hyphens:auto;
}

p {
    font-family:'Source Serif 4', 'Times New Roman', Times, serif;
    font-weight:400;
    text-align:justify;
}

code {
    font-family:"Source Code Pro", monospace;
    font-weight:400;
}

ul {
    font-family:'Source Serif 4', Times, serif;
    font-weight:400;
}

.navbar-nav {
    font-family:inherit;
}

.page-footer {
    font-family:'Roboto Condensed', 'Arial Narrow', sans-serif;
    font-weight:300;
    text-shadow:0px 0px 5px white, 0px 0px 5px white;
}

b {
    font-weight:700;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing:0em;
}

a {
    text-decoration:underline dotted;
}

a:link, .external:link {
    color:inherit;
}

a:visited, .external:visited {
    color:inherit;
}

a:hover, .external:hover {
    color:firebrick;
    background-color:rgba(255,255,255,0.1);
}

a:active, .external:active {
    color:red;
    background-color:rgba(255,0,0,0.1);
} 

a.nav-link {
    color:inherit;
    text-decoration:none;
}

a.navbar-brand {
    color:inherit;
    padding:10px;
    text-decoration:none;
}

a.footnote-ref {
    text-decoration:none;
}

.undecorated-link {
    text-decoration:none;
}

.navbar {
    background-color:#333;
    color:#ccc;
}

.quarto-title-block {
    background-color:#111;
    color:#ccc;
}

.quarto-title-banner {
    background-color:#111;
    color:#ccc;
}

a.quarto-grid-link {
    border-style:none;
}

img.navbar-logo {
    max-height:40px;
}

.navbar-brand {
    overflow:visible;
}

.navbar-brand {
    line-height:90%;
}

a.button-link {
    font-family:sans-serif; 
    background-color:#396; 
    color:#cec; 
    padding:10px; 
    box-shadow:5px 5px 5px #666; 
    border-radius:5px; 
    text-decoration:none;
    display:block;
    margin:0 auto;
    width:fit-content;
    text-align:center;
}

.bib {
    display: block;
    text-align: left;
    padding-left: 2em;
    text-indent: -2em;
}

.nav-link {
    text-align:left;
}

.tippy-content {
    border-style:solid;
    border-color:red;
    border-radius:5px;
    border-width:1.5px;
    background-color:#fcf4f4;
    z-index:9999;
}

a.footnote-ref {
    color:firebrick;
}

.dropdown-item {
    font-family:'Roboto Condensed', 'Arial Narrow', sans-serif;
}

i {
    float:right;
}

.dropdown-menu {
    width:fit-content();
}
