/*-- scss:defaults --*/

/*-- scss:rules --*/
.reveal h1 {
  font-variant: small-caps;
}

.reveal h3, h4 {
    font-weight: 400;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
} 
