/* css styles */
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}

p {
    font-family: Newsreader, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.page-footer {
    font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
    font-weight: 300;
    text-shadow: 0px 0px 5px white, 0px 0px 5px white;
}

b {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.5px;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

a:link, .external:link {
    color: inherit;
}

a:visited, .external:visited {
    color: inherit;
}

a:hover, .external:hover {
    color: firebrick;
    background-color: rgba(255,255,255,0.1);
}

a:active, .external:active {
    color: red;
    background-color: rgba(255,0,0,0.1);
} 

a.nav-link {
    color: inherit;
    text-decoration: none;
}

a.navbar-brand {
    color: inherit;
    padding: 10px;
    text-decoration: none;
}

a.footnote-ref {
    text-decoration: none;
}

.undecorated-link {
    text-decoration: none;
}

.navbar {
    background-color: #333;
}

.quarto-title-block {
    background-color: #111;
}

.quarto-title-banner {
    background-color: #111;
}

a.quarto-grid-link {
    border-style: none;
}

.navbar-logo {
    max-height: 60px;
    padding: 0px;
}
