/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400&display=swap');

p {
    font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
    font-weight: 400;
}

em, b {
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    text-transform: none;
}