h1 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 24pt;
	font-weight: 400;
}
h2 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 20pt;
	font-weight: 400;
}
h3 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 400;
}
h4 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: 400;
}
h5 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 400;
}
h6 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: 400;
	font-style: italic;
}
p {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 14pt;
  margin-bottom: -0.2em;
}
blockquote {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 14pt;
}
em { font-style: italic;}

a { text-decoration: none;}
a:link { color: blue; }
a:visited { color: purple; }
a:active { color: red; }

.button {
  background-color:lightgrey;
  padding:1px 5px 5px;
  margin:2px;
}
.button:hover {
  background-color:rgba(102,204,255,0.35);
}

img {
  text-align: center;
  margin: 1px 1px 0px 3px;
}

.testing {
   border: blue dashed 1px;
}

.bgR { background-color: red; color: white; font-weight: 400; }
.bgPk { background-color: pink; }
.bgO { background-color: orange; }
.bgY { background-color: yellow; }
.bgG { background-color: lightgreen; }
.bgB { background-color: lightblue; }
.bgI { background-color: darkblue; color: white; font-weight: 400; }
.bgV { background-color: purple; color: white; font-weight: 400; }
